body{
    background: rgb(1, 1, 1);
    background: linear-gradient(1144deg, rgba(1, 1, 1, 1) 38%, rgba(42, 133, 218, 0.945)88%)
}

.article{
    background : rgba(40, 98, 165, 0.116);
}

.logo {
    max-width: 100 px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.logo1 {
    max-width: 5%;
}